In [31]:
import pandas as pd

In [32]:
df = pd.read_csv('final_data.csv')
df.head()

   Unnamed: 0       Star_name     Distance Mass Radius
0           0             Sun  0.000015813    1      1
1           1          Sirius       0008.6  2.1   1.71
2           2         Canopus         0310   15     71
3           3  Alpha Centauri       0004.4  1.1    1.2
4           4        Arcturus         0037  1.1     26

In [33]:
df.columns

Index(['Unnamed: 0', 'Star_name', 'Distance', 'Mass', 'Radius'], dtype='object')

In [34]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)
df.head()

        Star_name     Distance Mass Radius
0             Sun  0.000015813    1      1
1          Sirius       0008.6  2.1   1.71
2         Canopus         0310   15     71
3  Alpha Centauri       0004.4  1.1    1.2
4        Arcturus         0037  1.1     26

In [35]:
df.dtypes

Star_name    object
Distance     object
Mass         object
Radius       object
dtype: object

In [42]:
def format_(x):
    if isinstance(x,str):
        toreplace = ',.<[]'
        for t in toreplace:
            if t in x:
                x=x.replace(t,'')
        if '?' in x: 
            x='nan'
        for m in ['-','â€“']:
            if m in x:
                t=x.strip().split(m)
                a,b=t
                t= sum([float(a),float(b)])/2
                x=str(t)
        return float(x)
    if isinstance(x,float):
        return x
    print(x,end=' ')
    return x
def dist_format(x):
    try:
        return float(x)
    except:
        for m in '[],':
            if m in x:
                x=x.replace(m,'')
        return float(x)
df['Radius']= df['Radius'].apply(format_)
df['Mass']= df['Mass'].apply(format_)
df['Distance']= df['Distance'].apply(dist_format)
df.head()

1.5813e-05

In [37]:
df.dtypes

Star_name     object
Distance     float64
Mass         float64
Radius       float64
dtype: object

In [38]:

radius = df['Radius'].to_list()
mass = df['Mass'].to_list()
gravity =[]

#converting solar mass and radius into km & kg
def convert_to_si(radius,mass):
    for i in range(0,len(radius)-1):
        radius[i] = radius[i]*float('6.957e+8')
        mass[i] = mass[i]*float('1.989e+30')
        
convert_to_si(radius,mass)

In [39]:
def gravity_calculation(radius,mass):
    G = 6.674e-11
    for index in range(0,len(mass)):
        g= (mass[index]*G)/((radius[index])**2)
        gravity.append(g)
        
gravity_calculation(radius,mass)

df["Gravity"] = gravity
df

,Star_name,Distance,Mass,Radius,Gravity
0,Sun,0.000016,1.000000e+00,1.000000e+00,2.742692e+02
1,Sirius,8.600000,2.100000e+01,1.710000e+02,1.969718e-01
2,Canopus,310.000000,1.500000e+01,7.100000e+01,8.161153e-01
3,Alpha Centauri,4.400000,1.100000e+01,1.200000e+01,2.095112e+01
4,Arcturus,37.000000,1.100000e+01,2.600000e+01,4.462960e+00
...,...,...,...,...,...
249,2MASSI J2356547-155310,74.000000,7.636704e+06,1.120117e+16,1.669385e-23
250,WISE 0410+1502,20.000000,5.727528e+06,1.202327e+16,1.086673e-23
251,WISE 0458+6434A,35.900000,1.431882e+16,4.316046e+06,2.108201e+05
252,WISE 0458+6434B,35.900000,9.545880e+05,3.904994e+16,1.716928e-25
253,WISE 1405+5534,25.300000,2.863764e+16,8.837618e+06,2.447107e-08

In [40]:
df.to_csv("star_with_gravity.csv")