In [40]:
import pandas as pd

In [41]:
df = pd.read_csv('star_with_gravity.csv')
df.head()

   Unnamed: 0       Star_name    Distance  Mass  Radius     Gravity
0           0             Sun    0.000016   1.0     1.0  274.269161
1           1          Sirius    8.600000  21.0   171.0    0.196972
2           2         Canopus  310.000000  15.0    71.0    0.816115
3           3  Alpha Centauri    4.400000  11.0    12.0   20.951117
4           4        Arcturus   37.000000  11.0    26.0    4.462960

In [42]:
# stars with distance lesss than 100 light years
dist_less_than_100 = df[df.Distance< 100]
dist_less_than_100.head()

   Unnamed: 0       Star_name   Distance  Mass  Radius     Gravity
0           0             Sun   0.000016   1.0     1.0  274.269161
1           1          Sirius   8.600000  21.0   171.0    0.196972
3           3  Alpha Centauri   4.400000  11.0    12.0   20.951117
4           4        Arcturus  37.000000  11.0    26.0    4.462960
5           5            Vega  25.000000  22.0    27.0    8.276984

In [51]:
# Stars having gravity in range of 150 to 350
gravity_less_than_350 = dist_less_than_100[dist_less_than_100.Gravity<float(350)]
gravity_in_range_150_to_350:pd.DataFrame =gravity_less_than_350[gravity_less_than_350.Gravity>float(150)]
# gravity_in_range_150_to_350.__len__()
len(dist_less_than_100),len(gravity_less_than_350),len(gravity_in_range_150_to_350)
gravity_in_range_150_to_350.to_csv('filtered_stars.csv')